<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%#-- flatpicker --%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>API</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav>
    <h1><a href="/">OlcademyApi</a></h1>
    <ul>
      <% if (user) { %>
        <li><a href="/logout" class="btn">Log out</a></li>
      <% } else { %>
        <li><a href="/login"class="btn">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>