<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Welcome</h2>
    <ul>
        <li>GET</li>
        <li>POST</li>
        <li>DELETE</li>
    </ul>
  </div>
</header>


<%- include('partials/footer'); -%>